.content {
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    text-align: justify;
    color: #012d57;
  }
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  li {
    display: list-item;
    font-size: 18px;
    line-height: 28px;
    color: #012d57;
    text-align: -webkit-match-parent;
  }
  blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    padding-left: 40px;
    border-left: 12px solid #0292c4;
  }
  table {
    text-align: center;
    width: 100%;
    display: table;
    box-sizing: border-box;
    border-collapse: separate;
    border-spacing: 0;
    text-indent: initial;
    border: grey;
  }
  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border-spacing: 0;
    width: 100%;
    border-collapse: separate;
    text-indent: initial;
  }
  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }
  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }
  th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    padding: 10px;
    border-right: 2px solid gray;
  }
  h2 {
    color: #53687c;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    padding: 10px 0;
  }
  h3 {
    color: #53687c;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    padding: 10px 0;
  }
  h4 {
    color: #53687c;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    padding: 10px 0;
  }
  img {
    width: 100% !important;
  }
}

.article {
  @apply m-5 p-5 bg-gray-200 shadow-lg shadow-gray-400 border border-gray-400;
}

.head {
  @apply flex flex-row justify-between items-center;
}

.author {
  @apply py-10 text-center text-sm text-gray-600 border-y border-gray-300;
}

.relative {
  @apply py-2 w-20 lg:w-24 xl:w-28 pt-4 flex flex-row  justify-end items-center  text-xs text-gray-400;
}

.rating {
  @apply flex flex-col justify-between items-center;
}

.tag {
  @apply px-2 py-2 mt-2 mr-3 h-5  flex items-center justify-around rounded-xl bg-gray-300 hover:bg-gradient-to-r from-blue-900 to-sky-500 transition-all duration-300 text-sm text-gray-600 hover:text-white;
}

.add_info__wrapper {
  @apply my-5 py-3 pl-5 pr-10 flex flex-row flex-wrap items-center justify-start  bg-gradient-to-br from-slate-800 to-sky-600;
}

.add_info__title {
  @apply text-2xl font-bold text-gray-500;
}

.social_network {
  @apply mx-4;
  img {
    @apply w-6 h-6;
  }
}

.source {
  @apply text-xl text-gray-500 font-bold  m-3;
}
